.clearfix::after {
  content: "";
  clear: both;
  display: table; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  }
  @media only screen and (max-width: 599px) {
    html {
      font-size: 62.5%; } }
  @media only screen and (min-width: 600px) and (max-width: 899px) {
    html {
      font-size: 55%; } }
  @media only screen and (min-width: 900px) and (max-width: 1199px) {
    html {
      font-size: 57.5%; } }

body {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  line-height: 1.6;
 }

.container {
  width: 140rem;
  margin: 0 auto; }

.bttn-main:link,
.bttn-main:visited {
  display: inline-block;
  padding: 1.1rem 2.1rem;
  font-size: 1.3rem;
  font-weight: 600;
  text-decoration: none;
  line-height: 1;
  color: #fff;
  border-radius: 26px;
  -webkit-box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.15);
  background-color: #16d3fe;
  -webkit-transition: all 1s;
  transition: all 1s; }
  @media only screen and (max-width: 599px) {
    .bttn-main:link,
    .bttn-main:visited {
      width: 60%;
      margin-top: 2.5rem;
      margin-bottom: 3rem; } }

.todo__app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  overflow: hidden; }

.todo__centerapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.todo__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
  width: 100%; }

.todo__info {
  font-family: 'Poppins', sans-serif;
  line-height: 1;
  width: 45%;
  margin-top: -30rem; }
  .todo__info span {
    display: block;
    font-size: 1.8rem;
    font-weight: 400;
    color: #fff; }

.todo__header {
  font-size: 7rem;
  color: rgba(255, 255, 255, 0.8);
  line-height: 1.2; }

.todo__info-paragraph {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.6;
  color: #adadad; }

.todo__background {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  z-index: -1; }

.app-component {
  width: 45%;
  position: relative;
  min-height: 650px;
  padding: 2rem;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 1rem 2.7rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2.7rem rgba(0, 0, 0, 0.2); }
  .app-component__header {
    font-weight: 500; }
  .app-component__details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 1rem; }
    .app-component__details input {
      width: 100%;
      height: 3.5rem;
      padding: 1rem;
      border: none;
      outline: none;
      margin-bottom: 1rem;
      border-radius: 5px;
      border: 1px solid #d4d4db;
      font-size: 1.2rem;
      color: #5d5c5c;
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      -webkit-transition: 1s all;
      transition: 1s all; }
      .app-component__details input:not(output):-moz-ui-invalid {
        box-shadow: none; }
      .app-component__details input:focus {
        border: 1px solid #37488f; }
    .app-component__details input::-webkit-input-placeholder {
      font-size: 1.2rem;
      color: #5d5c5c;
      font-family: 'Poppins', sans-serif;
      font-weight: 500; }
    .app-component__details input:-ms-input-placeholder {
      font-size: 1.2rem;
      color: #5d5c5c;
      font-family: 'Poppins', sans-serif;
      font-weight: 500; }
    .app-component__details input::placeholder {
      font-size: 1.2rem;
      color: #5d5c5c;
      font-family: 'Poppins', sans-serif;
      font-weight: 500; }
    .app-component__details textarea {
      width: 100%;
      padding: 1rem;
      resize: none;
      border: none;
      outline: none;
      font-size: 1.2rem;
      color: #5d5c5c;
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      border-radius: 5px;
      border: 1px solid #d4d4db;
      overflow: auto; 
      -webkit-transition: 1s all;
      transition: 1s all; }
      .app-component__details textarea:not(output):-moz-ui-invalid {
        box-shadow: none; }
      .app-component__details textarea:focus {
        border: 1px solid #37488f; }
    .app-component__details textarea::-webkit-input-placeholder {
      font-size: 1.2rem;
      color: #5d5c5c;
      font-family: 'Poppins', sans-serif;
      font-weight: 500; }
    .app-component__details textarea:-ms-input-placeholder {
      font-size: 1.2rem;
      color: #5d5c5c;
      font-family: 'Poppins', sans-serif;
      font-weight: 500; }
    .app-component__details textarea::placeholder {
      font-size: 1.2rem;
      color: #5d5c5c;
      font-family: 'Poppins', sans-serif;
      font-weight: 500; }
  .app-component__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .app-component__block input[type=submit] {
      padding: 1.5rem 2.3rem;
      background-color: #22244d;
      border: none;
      border-radius: 4px;
      color: #fff;
      font-weight: 600;
      outline: none;
      -webkit-box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2);
              box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2);
      -webkit-transition: .7s all;
      transition: .7s all; }
      .app-component__block input[type=submit]:active {
        -webkit-box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.2);
                box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.2); }
      .app-component__block input[type=submit]:hover {
        background-color: #7a86cf; }
  .app-component__rating-group {
    margin: 1.7rem 0 1.7rem 0; }
  .app-component__rating-info {
    font-weight: 500; }
  .app-component__rating-stars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: relative; }
    .app-component__rating-stars__low::before {
      background-color: #03d463;
      left: 0;
      top: 1.1rem; }
    .app-component__rating-stars__medium::before {
      background-color: #f7cb27;
      left: 9rem;
      top: 1.1rem; }
    .app-component__rating-stars__high::before {
      background-color: #fc706a;
      left: 18rem;
      top: 1.1rem; }
    .app-component__rating-stars__low::after {
      left: -.3rem;
      top: .8rem; }
    .app-component__rating-stars__medium::after {
      left: 8.7rem;
      top: .8rem; }
    .app-component__rating-stars__high::after {
      left: 17.7rem;
      top: .8rem; }
    .app-component__rating-stars input {
      position: absolute;
      left: -9999px; }
    .app-component__rating-stars label {
      width: 7.5rem;
      height: 3rem;
      margin-right: 1.5rem;
      padding-left: 1.9rem;
      padding-top: 1.2rem;
      font-weight: 500;
      line-height: 1; }
    .app-component__rating-stars label::before {
      content: '';
      display: block;
      position: absolute;
      width: 1.2rem;
      height: 1.2rem;
      border-radius: 50%;
      color: #c0c0c0;
      font-size: 2rem;
      line-height: 3rem; }
    .app-component__rating-stars label::after {
      content: '';
      display: none;
      position: absolute;
      width: 1.8rem;
      height: 1.8rem;
      border-radius: 50%;
      color: transparent;
      border: 1px solid rgba(0, 0, 0, 0.2);
      font-size: 2rem;
      line-height: 3rem; }
    .app-component__rating-stars input:checked + label::after {
      border: 1px solid rgba(0, 0, 0, 0.2);
      display: block; }
  .app-component__options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 2rem 0;
    padding: 1rem 0;
    border-top: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0; }
  .app-component__check-tasks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 48%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .app-component__check-tasks-label {
    font-weight: 500; }
  .app-component__check-tasks-checkbox {
    position: absolute;
    opacity: 0; }
    .app-component__check-tasks-checkbox + label {
      position: relative;
      cursor: pointer;
      padding: 0; }
    .app-component__check-tasks-checkbox + label:before {
      content: '';
      margin-right: 10px;
      display: inline-block;
      vertical-align: text-top;
      width: 1.7rem;
      height: 1.7rem;
      border-radius: 3px;
      border: 1px solid #c0c0c0;
      background: transparent; }
    .app-component__check-tasks-checkbox:checked + label:after {
      content: '';
      position: absolute;
      display: block;
      left: .1rem;
      top: .2rem;
      background-image: url(../img/checked.svg);
      background-repeat: no-repeat;
      width: 1.5rem;
      height: 1.5rem; }
  select::-ms-expand {
        display: none;
  }
  .app-component__select {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .app-component__select select {
      width: 13rem;
      font-size: 1.2rem;
      color: #5d5c5c;
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      border: 1px solid #c0c0c0;
      border-radius: 4px;
      outline: none;
      padding: .1rem 2.2rem .1rem .6rem;
      background: url(../img/arrow.svg) no-repeat right #fff;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background-position-x: 103px; }
    .app-component__select option {
      color: #c0c0c0;
      outline: none;
      border: none; }
      .app-component__select option :focus {
        outline: none;
        border: none; }
  .app-component__select-label {
    margin-right: 1.7rem;
    font-weight: 500; }
  .app-component__submit.delete {
    position: absolute;
    bottom: 10px;
    padding: 1.5rem 2.3rem;
    background-color: #22244d;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
    outline: none;
    -webkit-box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2);
            box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2);
    -webkit-transition: .7s all;
    transition: .7s all; }
    .app-component__submit.delete:active {
      -webkit-box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.2);
              box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.2); }
    .app-component__submit.delete:hover {
      background-color: #7a86cf; }

.task-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
.task-list__container {
  height: 24rem;
  overflow-y: scroll; }
  .task-list__container::-webkit-scrollbar {
    width: 12px;
    height: 16px;}
  .task-list__container::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);scrollbar-track-color:  #AAA;
   }

.single-task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 96%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 1.5rem;
  padding: 1.3rem;
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: 0 0.5rem 1.7rem -0.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1.7rem -0.5rem rgba(0, 0, 0, 0.1);
  -webkit-transition: .7s all;
  transition: .7s all; }
  .single-task:hover {
    -webkit-box-shadow: 0 1rem 3.5rem -1.3rem rgba(36, 38, 78, 0.4);
            box-shadow: 0 1rem 3.5rem -1.3rem rgba(36, 38, 78, 0.4); }
  .single-task__checkbox {
    width: 6%; }
  .single-task__check-tasks-checkbox {
    position: absolute;
    opacity: 0; }
    .single-task__check-tasks-checkbox + label {
      position: relative;
      cursor: pointer;
      padding: 0; }
    .single-task__check-tasks-checkbox + label:before {
      content: '';
      margin-right: 10px;
      display: inline-block;
      vertical-align: text-top;
      width: 1.7rem;
      height: 1.7rem;
      border-radius: 3px;
      border: 1px solid #c0c0c0;
      background: transparent; }
    .single-task__check-tasks-checkbox:checked + label:after {
      content: '';
      position: absolute;
      display: block;
      left: .1rem;
      top: .2rem;
      background-image: url(../img/checked.svg);
      background-repeat: no-repeat;
      width: 1.5rem;
      height: 1.5rem; }
  .single-task__content {
    width: 86%; }
  .single-task__title {
    font-size: 1.4rem;
    font-weight: 600;
    color: #181b3d; }
  .single-task__note {
    font-size: 1.2rem; }
  .single-task__priority {
    width: 6.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .single-task__graphic {
    width: .7rem;
    height: .7rem;
    border-radius: 3px;
    background-color: #31e182;
    margin-right: .7rem; }
    .single-task__graphic.medium {
      background-color: #f7cb27; }
    .single-task__graphic.high {
      background-color: #fc706a; }
